@import "components/index";
@import "components/media-queris";
@import "components/contacto";

// nesting //
header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    nav {
        justify-content: right;
        margin-right: 50px;
        margin-top: 20px;

        ul {
            list-style: none;
            gap: 15px;
            display: flex;
            text-decoration: none;
            color: white;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;

            @include mobile {
                flex-direction: column;
                align-items: end;
                text-size-adjust: .5rem;
            }
        }
    }
}

.menu {
    text-decoration: none;
}

.logo-nav {
    width: 150px;
    height: 150px;
    padding-top: 10px;

    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }
}
