//estilo del index//
main{
    div{
        img{
            width: 80%;
            height: 80%;
            object-fit: cover;
        }
    }
}
.contenedor {
    height: 350vh;
}
.banner {
    display: flex;
    object-fit: cover;
    background-repeat: no-repeat;
}
.img-pre {
    background-repeat: no-repeat;
    background-size: contain;
}
.descripcion-inicial {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}