@import "components/media-queris";
//color principal de fuente//
$color-pr-fuente: #f2f2f2;
//color secundario de fuente//
$color-sec-fuente:#333333;
//color principa//
$color-principal:#dd1818;
//color secundario//
$color-secundario:#333333;